html {
    background: url(assets/homepage.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.container {
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
}

.projectLinks {
    color: darkviolet;
}

.projectLinks:link {
    text-decoration: none;
}

.projectLinks:hover {
    color: magenta;
}