body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  background-color: #f8f9fa!important;
}

.nav-link {
  color: darkslategrey !important;
}

.nav-link:hover {
  cursor: pointer;
  color: #000 !important;
}

.navbar-toggler-icon:hover {
  cursor: grab;
}

.navbar-toggler-icon:active {
  cursor: grabbing;
}

#aboutSection {
  padding: 0;
  margin: 0;
  background-color: aqua;
  height: 112px;
}

#aboutMeText {
  font-size: 20px;
  margin: auto;
  margin-bottom: 1rem;
  width: 70%;
}

#spotifyContainer {
  padding: 0;
  background-color: turquoise;
  border-radius: 25px;
  opacity: 0.7;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 180px;
  width: 520px;
}

@media (max-width: 688px) {
  .col-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  #spotifyContainer {
    border-radius: 10px;
    width: 300px;
  }
  #spotifyPlayer {
    margin: auto;
    width: 270px;
  }
}

#carouselExampleFade{
  margin: auto;
  width: 80%; 
  margin-bottom: 5rem;
}

.d-block {
  height: 100vh;
}

.carousel-caption p {
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
}

#educationSection {
  margin: 0;
  margin-bottom: 5rem;
  height: 112px;
  background-color: lightskyblue;
}

a img:hover {
  cursor: grab;
  opacity: 0.9;
}

a img:active {
  cursor: grabbing;
}

.card-title a:hover {
  text-decoration: none;
  color: #17a2b8;
}

#socialSection {
  padding: 0;
  margin: 0;
  background-color: plum;
  height: 112px;
  margin-bottom: 3rem;
}

#socialIcons {
  width: 25%;
  font-size: 2rem;
}

#socialIcons a {
  color: #000;
}

#socialIcons a:hover {
  cursor: grab;
  color: plum;
}

#socialIcons a:active {
  cursor: grabbing;
  color: lightsalmon;
}

.jumbotron {
  padding: 2rem 0 !important;
  margin-bottom: 0 !important;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron .container {
  max-width: 40rem;
}

#projectsSection {
  padding: 0;
  margin: 0;
  background-color: lightsalmon;
  height: 112px;
}

.lead {
  margin-bottom: 2rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#contactSection {
  padding: 0;
  margin: 0;
  background-color: pink;
  height: 112px;
  margin-bottom: 3rem;
}

#formSection {
  margin: auto;
  width: 70%;
}

@media (max-width: 768px) {
  #name {
    margin-bottom: 1rem;
  }
  .btn-success {
    margin-bottom: -3rem;
  }
}

.text-info {
  margin-left: 0 !important;
  font-size: 20px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000;
  height: 140px;
}