* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  background-color: #F0FFFF !important;
}

.nav-link {
  font-size: 20px;
  color: #4682B4 !important;
}

.nav-link:hover {
  cursor: grab;
  color: #FFFF00 !important;
}

.nav-link:active {
  cursor: grabbing;
}

.navbar-toggler-icon:hover {
  cursor: grab;
}

.navbar-toggler-icon:active {
  cursor: grabbing;
}

@media (max-width: 991px) {
  .navbar-toggler-icon:hover {
    cursor: grab;
  }
  .navbar-toggler-icon:active {
    cursor: grabbing;
  }
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 16px;
  }
}

@media (max-width: 414px) {
  .nav-link {
    font-size: 14px;
  }
}

a .fa-chevron-up, a .fa-chevron-down {
  padding-bottom: 12px;
}

a .fa-chevron-up:hover, a .fa-chevron-down:hover {
  cursor: grab;
  color: #FFFF00 !important;
}

a .fa-chevron-up:active, a .fa-chevron-down:active {
  cursor: grabbing;
}

h1 a {
  color: #000;
}

h1 a:hover {
  cursor: grab;
  color: #7B68EE;
  text-decoration: none;
}

h1 a:active {
  cursor: grabbing;
}

#aboutSection {
  padding: 0;
  margin: 0;
  background-color: #00FFFF;
  height: 124px;
}

@media (max-width: 414px) {
  #aboutSection h1{
    font-size: 28px;
  }
}

#aboutMeText {
  font-size: 20px;
  margin: auto;
  margin-bottom: 2rem;
  width: 63%;
}

@media (max-width: 768px) {
  #aboutMeText {
    font-size: 18px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 414px) {
  #aboutMeText {
    text-align: left !important;
    font-size: 16px;
  }
  .pt-3 {
    padding-top: 0 !important;
  }
}

@media (max-width: 350px) {
  #aboutMeText {
    font-size: 14px;
  }
}

#aboutMeText a {
  text-decoration: none;
}

#aboutMeText a:hover {
  opacity: 0.8;
}

.col-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#spotifyContainer {
  padding: 0;
  opacity: 0.8;
  background-color: #40E0D0;
  border-radius: 25px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 200px;
  width: 510px;
}

#spotifyPlayer {
  margin: auto;
  height: 200px;
  width: 450px;
}

@media (max-width: 813px) {
  #spotifyContainer {
    border-radius: 10px;
    width: 280px;
    height: 180px;
  }
  #spotifyPlayer {
    margin: auto;
    width: 240px;
    height: 180px;
  }
}

@media (max-width: 437px) {
  #spotifyContainer {
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 0;
    width: 256px;
    height: 180px;
  }
  #spotifyPlayer {
    width: 256px;
    height: 180px;
  }
}

@media (max-width: 375px) {
  #spotifyContainer {
    border-radius: 0;
    width: 234px;
    height: 180px;
  }
  #spotifyPlayer {
    margin: auto;
    width: 234px;
    height: 180px;
  }
}

#carouselExampleFade {
  margin: auto;
  margin-bottom: 1rem;
  width: 63%;
}

.carousel-item img:hover {
  cursor: grab;
  opacity: 0.8;
}

.carousel-caption h5 {
  margin: 1px 0;
  text-align: left;
}

.carousel-caption p {
  margin: 0;
  width: 80%;
  line-height: 1.25;
  font-family: 'Teko', sans-serif;
  text-align: left;  
}

.carousel-caption span {
  background-color: #000;
}

@media (max-width: 1199px) {
  .carousel-caption h5 {
    font-size: 1rem;
  }

.carousel-caption p {
    width: 96%;
    font-size: 14px;
  }
}

#disclaimer {
  margin: auto;
  padding: 0;
  width: 63%;
  margin-bottom: 5rem;
}

#disclaimer span {
  color: #000;
}

@media (max-width: 768px) {
  #disclaimer {
    width: 60%;
    font-size: 14px;
  }
}

#educationSection {
  margin: 0;
  margin-bottom: 5rem;
  padding: 0;
  height: 124px;
  background-color: #F4A460;
}

.no-gutters img:hover {
  cursor: grab;
}

.no-gutters img:active {
  cursor: grabbing;
}

@media (max-width: 414px) {
  #educationSection h1{
    font-size: 28px;
  }
}

@media (max-width: 1133px) {
  .col-md-8 .card-title {
    font-size: 16px;
  }
  .list-group-flush {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .col-md-8 .card-body {
    padding: 0 1.25rem !important;
  }
  .col-md-8 .card-title {
    text-align: center;
  }
  .no-gutters .item {
    margin-top: 0;
    margin-left: 20%;
    max-width: 60%;
    height: auto;
  }
}

@media (max-width: 414px) {
  .list-group-item {
    padding: 0.75rem 0 !important;
  }
}

.card-title a:hover {
  text-decoration: none;
  color: #F4A460;
}

#socialSection {
  padding: 0;
  margin: 0;
  background-color: #DDA0DD;
  height: 124px;
  margin-bottom: 4rem;
}

@media (max-width: 414px) {
  #socialSection {
    margin-bottom: 2rem;
  }
  #socialSection h1{
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  #socialSection h1{
    font-size: 24px;
  }
}

#socialIcons {
  width: 63%;
  font-size: 2rem;
  margin-bottom: 4rem;
}

#iconRows .col-sm-4{
  margin-bottom: 6rem;
}

@media (max-width: 414px) {
  #socialIcons .col-sm-4 {
    padding-bottom: 2rem !important;
    margin-bottom: 0 !important;
  }
}

#socialIcons i {
  color: #000;
}

#socialIcons i:hover {
  cursor: grab;
  color: #DDA0DD !important;
}

#socialIcons i:active {
  cursor: grabbing;
}

#projectsSection {
  padding: 0;
  margin: 0;
  background-color: #87CEFA;
  height: 124px;
}

@media (max-width: 414px) {
  #projectsSection h1{
    font-size: 28px;
  }
}

.jumbotron {
  background-color: #F0FFFF !important;
  padding: 1rem 0 !important;
  margin-bottom: 0 !important;
}

@media (max-width: 991px) {
  .jumbotron {
    margin: auto;
    width: 70%;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .jumbotron p {
    margin-bottom: 0;
    font-size: 18px;
  }
}

@media (max-width: 414px) {
  .jumbotron {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-bottom: 1rem;
  }
  .jumbotron p {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .jumbotron p {
    font-size: 14px;
  }
}

.jumbotron .container {
  max-width: 40rem;
}

p .lead {
  padding-top: 0;
  margin-bottom: 2rem;
}

#shareIcons {
  word-spacing: 4px;
}

.album {
  margin-bottom: 3rem;
}

.album .container {
  padding: 0;
  margin: auto;
  width: 63%;
}

.album .row {
  margin-left: 0;
  margin-right: 0;
}

.album .card {
  height: 500px;
}

.album .item img {
  height: 220px;
}

.album .col-md-4 {
  margin-bottom: 1rem;
}

@media (max-width: 1329px) {
  .album .container {
    width: 70%;
  }
  .album .col-md-4 {
    padding-right: 5%;
    padding-left: 5%;
  }
  .album .col-md-4 .card {
    height: 460px;
  }
  .album .item img {
    height: 200px;
  }
}

@media (max-width: 1199px) {
  .album .container {
    width: 80%;
  }
  .album .col-md-4 .card {
    width: 220px;
    height: 440px;
  }
  .album .item img {
    height: 160px;
  }
}

@media (max-width: 991px) {
  .album .container {
    max-width: 100%;
  }
  .album .col-md-4 .card {
    width: 200px;
    height: 440px;
  }
  .album .item img {
    height: 170px;
  }
  .album p {
    font-size: 14px;
  }
}

@media (max-width: 907px) {
  #aboutMeText {
    font-size: 16px;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .album .container {
    width: 82%;
  }
}

@media (max-width: 767px) {
  .album .col-md-4 .card {
    width: 280px;
    height: 400px;
    margin: auto;
  }
  .album .item img {
    height: 220px;
  }
}

@media (max-width: 375px) {
  .album .col-md-4 .card {
    width: 200px;
    height: 360px;
    margin: auto;
  }
  .album .item img {
    height: 160px;
  }
  .album p {
    font-size: 12px;
  }
  #formSection p {
    font-size: 14px !important;
  }
}

@media (max-width: 270px) {
  .album .col-md-4 .card {
    width: 100px;
    height: 300px;
    margin: auto;
    padding: 0 !important;
  }
  .album .item img {
    height: 120px;
  }
  .ablum .card-body a {
    font-size: 0rem;
  }
  .album p {
    font-size: 8px;
  }
}

.album .col-md-4 a:hover {
  cursor: grab;
  opacity: 0.8;
}

.album .col-md-4 a:active {
  cursor: grabbing;
}

.item {
  position: relative;  
  overflow: hidden;
  width: 100%;
}

.item a:hover {
  cursor: grab;
}

.item a:active {
  cursor: grabbing;
}

.item img {
  max-width: 100%;  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.col-md-4 .card-body {
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 1rem;
  background-color: #FAF0E6;
  border-top: 1px solid #17a2b8;
}

.btn-group {
  padding-bottom: 1rem;
}

.btn-group a{
  color: #007bff
}

.btn-group a:hover {
  cursor: grab;
  color: #FF4500;
  font-size: 18px;
}

.btn-group a:active {
  cursor: grabbing;
}

#contactSection {
  padding: 0;
  margin: 0;
  background-color: #FFC0CB;
  height: 124px;
  margin-bottom: 3rem;
}

@media (max-width: 414px) {
  #contactSection h1{
    font-size: 28px;
  }
}

#formSection {
  margin: auto;
  width: 63%;
}

@media (max-width: 767px) {
  #name {
    margin-bottom: 1rem;
  }
  .btn-success {
    margin-bottom: -3rem;
  }
}

#formSection {
  font-family: 'Teko', sans-serif;
}

#formSection .text-md-left input {
  color: #fff;
  width: 60px;
  padding-top: 5px;
  background-color: #28a745;
}

.list-unstyled a:hover {
  color: #FFD700;
  cursor: grab;
}

.list-unstyled a:active {
  cursor: grabbing;
}

footer {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: rgb(242, 133, 142);
  height: 140px;
}

footer .mb-3 {
  color: #fff;
}

footer a {
  color: #4682B4;
}

footer a:hover {
  cursor: grab;
  text-decoration: none;
  color: #FFFF00;
}

footer a:active {
  cursor: grabbing;
}